<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="EmployeesRestAPISuite">
	<test name="EmployeeRestAPITest">
		<classes>
			<class name="com.employeeapi.testCases.TC001_Get_All_Employees" />
			<class name="com.employeeapi.testCases.TC002_Get_Single_Employee" />
			<class name="com.employeeapi.testCases.TC003_Post_Employee" />
			<class name="com.employeeapi.testCases.TC004_Update_Employee" />
		</classes>
	</test>
</suite>
